html {
  font-size: 14px;
  font-family: 'Roboto';
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        font-family: 'Roboto';
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-family: 'Roboto';
}

body {
    margin-bottom: 60px;
    font-family: 'Roboto';
}

.title {
  font-size: 4.5rem;
  height: 180px;
}

.typed-cursor {
    font-size: 4.5rem;
    margin-top: -20px;
    margin-left: -55px;
    font-weight: 100;
}

.no-design {
    text-decoration: none;
    display: block;
    color: #303030;
}

    .no-design:hover {
        color: #000000;
    }

.letter-body {
    height: 25rem;
}

/* COLORS */

.bg-blue {
    background-color: #1424fc;
    color: white;
}

.bg-white {
    background-color: white;
    color: black;
}

.bg-lightgray {
    background-color: #a2a2a2;
    color: white;
}

.bg-gray {
    background-color: #6b6b6b;
    color: white;
}

.bg-black {
    background-color: black;
    color: white;
}

.bg-lightorange {
    background-color: #fda44a;
    color: black;
}

.bg-yellow {
    background-color: #fefe7c;
    color: black;
}

.bg-khaki {
    background-color: #eddbba;
    color: black;
}

.bg-brown {
    background-color: #a27040;
    color: white;
}

.bg-bluegray {
    background-color: #a9b8bb;
    color: black;
}

.bg-turquoise {
    background-color: #708c8c;
    color: white;
}

.bg-paleblue {
    background-color: #a9d1ee;
    color: black;
}

.bg-lightblue {
    background-color: #46d2fc;
    color: black;
}

.bg-purple {
    background-color: #711bcf;
    color: white;
}

.bg-lightpurple {
    background-color: #a874fc;
    color: black;
}

.bg-dullpurple {
    background-color: #907c94;
    color: white;
}

.bg-palepurple {
    background-color: #d1c5d8;
    color: black;
}

.bg-maroon {
    background-color: #900404;
    color: white;
}

.bg-red {
    background-color: #ff1c1c;
    color: white;
}

.bg-orange {
    background-color: #ff7424;
    color: white;
}

.bg-tangerine {
    background-color: #ffa47c;
    color: black;
}

.bg-armygreen {
    background-color: #78845c;
    color: white;
}

.bg-darkgreen {
    background-color: #08740c;
    color: white;
}

.bg-green {
    background-color: #44d046;
    color: black;
}

.bg-lightgreen {
    background-color: #a7fea7;
    color: black;
}

.bg-blue {
    background-color: #1227fc;
    color: white;
}

.bg-darkblue {
    background-color: #053ea0;
    color: white;
}

.bg-wine {
    background-color: #603442;
    color: white;
}

.bg-darkpurple {
    background-color: #341c3f;
    color: white;
}

.bg-palepink {
    background-color: #fbe0e9;
    color: black;
}

.bg-lightpink {
    background-color: #fda6fd;
    color: black;
}

.bg-pink {
    background-color: #f978d1;
    color: black;
}

.bg-peach {
    background-color: #ffd4a4;
    color: black;
}

.bg-transparent {
    background-color: rgba(0,0,0,0) !important;
    border: none !important;
}

/* COLOR CARDS */
.color-card {
    height: 100%;
    width: 100%;
}

/* TYPOGRAPHY */
.textarea-full {
    font-size: 2.7rem;
    width: 100%;
    height: 100%;
}

.text-md {
    font-size: 2rem;
}

.text-sm {
    font-size: 1.5rem;
}

.text-rg {
    font-size: 1.8rem;
}

.archive-name {
    margin-left: -3.9rem;
}

.archive-header {
    margin-top: 0.2rem;
    margin-left: -9px;
}

@media (max-width: 576px) {
    .letter {
        width: 28rem;
        height: 10rem;
        margin: 1rem 1rem 30rem 1rem;
    }

    .letter-body {
        height: 35rem; /* Adjust the height as needed */
    }

    .title {
        font-size: 2rem;
        height: 100px;
    }

    .typed-cursor {
        font-size: 2rem;
        margin-top: 5px;
        margin-left: -45px;
        font-weight: 100;
    }
}