@model Letter

@{
    ViewData["Title"] = $"Unsent text message to {Model.Name} - Submission {Model.Id} - The Unsint Project";
}

<div class="row d-flex justify-content-center">
    @await Html.PartialAsync("_Letter", Model)
    <h5 class="fw-bold">@Html.DisplayFor(item => item.Name)</h5>
    <div>
        <span>Posted on @Html.DisplayFor(item => item.DatePosted) in </span>
        <span class="fw-bold">@Html.DisplayFor(item => item.ColorLabel)</span>
    </div>
    <div>
        @Html.DisplayFor(item => item.Message)
    </div>
</div>