@model IEnumerable<TheUnsintProject.Models.Letter>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex align-items-center justify-content-center mt-5">
    <h1 class="title p-5" id="title"></h1>
</div>

@foreach (var item in Model) {
    @await Html.PartialAsync("_Letter", item)
    <br />
}

<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<script>
    var typed = new Typed('#title', {
        strings: ['THE UNSINT PROJECT', ' '],
        typeSpeed: 80,
        backSpeed: 80,
        loop: true,
    });
</script>