@model PaginatedList<Letter>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex align-items-center justify-content-center mt-5">
    <h1 class="title p-5" id="title"></h1>
</div>

<form method="get">
    <div class="row d-flex justify-content-center">
        <div class="col-10 d-flex justify-content-center">
            <input type="text" class="form-control m-4" name="q" placeholder="Search for a name..." />
            <button class="btn btn-outline-secondary m-4 px-4" type="submit">Filter</button>
        </div>
    </div>
</form>

<div class="row d-flex justify-content-center" id="letterList">
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("_Letter", item)
    }
</div>

<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<script>
    var typed = new Typed('#title', {
        strings: ['THE UNSINT PROJECT', ' '],
        typeSpeed: 80,
        backSpeed: 80,
        loop: true,
    });
</script>

<script>
    var currentPage = 1;
    var isLoading = false;

    $(window).on('scroll', function() {
        if (!isLoading && $(window).scrollTop() + $(window).height() >= $(document).height() - 100) {
            loadMore();
        }
    });

    function loadMore() {
        if (currentPage < @Model.TotalPages) {
            isLoading = true;
            currentPage++;

            $.ajax({
                url: '@Url.Action("Index", "Letters")',
                type: 'GET',
                data: { page: currentPage },
                success: function (data) {
                    $('#letterList').append(data);
                    isLoading = false;
                }
            });
        }
    }
</script>