<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheUnsintProject</title>
    <link rel="icon" type="image/png" href="~/img/Logo.png" sizes="32x32">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TheUnsintProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between row">
                    <a class="nav-link text-dark col-3 asp-controller="Letters" asp-action="Index">
                        <img src="~/img/Logo.png" width="65" height="70" />
                    </a>
                    <ul class="navbar-nav flex-grow-1 d-flex align-items-center justify-content-evenly col-6">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Letters" asp-action="Index">ARCHIVE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Letters" asp-action="Index">SHOP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Letters" asp-action="Index">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Letters" asp-action="Index">COMPARISONS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Letters" asp-action="Index">TERMS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Letters" asp-action="Index">SITE UPDATES</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav col-3 d-flex justify-content-end">
                        <li class="nav-item m-4 ">
                            <a class="nav-link text-dark btn btn-dark text-white px-3" asp-controller="Letters" asp-action="Create">SUBMIT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - TheUnsintProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
