@model Letter

<a asp-action="Details" asp-route-id="@Model.Id" class="card col-3 m-2 no-design">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Message</p>
    </div>
</a>